.body{
  width: 80%;
}


.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.title{
  margin-top: 0px;
  font-size: 25px;
  font-family: $app-title-font;
}

h1{
  font-family: $app-title-font;

}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 85%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);

  &:hover {
    background: white;
    transition: 500ms linear;
  }
}

.booking-info {

  width: 45%;
  margin-left: 28%;

  .text-status{
    color: black;
    text-shadow: 1px 1px ;
  }
}

.address{
  text-align: center;
  justify-content: center;
}


.booking-list .card {
  margin-bottom: 40px;
}


.img{
  padding: 5px;
}

.title-cottage{
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px ;
}

.status {
  text-align: center;
  position: relative;
}

li {
    list-style-type: none;
  }

.accept-button, .refuse-button {
  padding: 10px;
  background-color: white;
  color: $current-nature;
  transition: transform 0.3s;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid $current-nature;

  &:hover {
    transform: scale(1.1);
  }
}

.refuse-button {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card-history{
  height: 250px;

  &:hover {
    transform: none;
  }

  img {
    height: 150px;
  }
}

.booking-info-history {
  height: 20px;
}

.display-column {
  display: flex;
  justify-content: space-between;
}
