.body{
  width: 80%;
}


.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.title{
  margin-top: 0px;
  font-size: 25px;
  font-family: $app-title-font;
}

h1{
  font-family: $app-title-font;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;

  &:hover {
    transform: scale(1.1);
    transition: 500ms linear;
  }
}

.booking-info {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 45%;
  margin-left: 28%;

  .text-status{
    color: #6698d2;
  }
}


.address{
  text-align: center;
  justify-content: center;
}


.booking-list .card {
  margin-bottom: 40px;
}


.img{
  padding: 5px;
}

.title-cottage{
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px ;
}

.status {
  text-align: center;
  position: relative;
}

.status::after {
  content: "\2022";
  position: absolute;
  color: red;
  font-size: 30px;
  top: -9px;
  left: 100px;
  }

li {
    list-style-type: none;
  }

.accept-button, .refuse-button {
  padding: 10px;
  background-color: $button-green;
  color: white;
  transition: transform 0.3s;
  border-radius: 5px;
  font-weight: 700;

  &:hover {
    transform: scale(1.1);
  }
}

.refuse-button {
  background-color: red;
}
