// Specific CSS for your home-page
@import "../components/validateButton";

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.validate-button a {
  text-decoration: none;
  color: inherit;
}
