<div class="card-trip">
  <% @cottages.each do |cottage| %>
    <img src= />
    <div class="card-trip-infos">
      <div>
        <h2><%= cottage.name %></h2>
        <p><%= cottage.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= cottage.price %></h2>
      <img src= class="card-trip-user avatar-bordered" />
    </div>
  <% end %>
</div>
