<div class="cards">
  <% @cottages.each do |cottage| %>
    <%= link_to cottage_path(cottage) do  %>
      <div class="card-trip" >
          <img src= />
          <div class="card-trip-infos">
            <div>
              <h2><%= cottage.name %></h2>
              <p><%= cottage.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= cottage.price %>CA$</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
      </div>
    <% end %>
  <% end %>
</div>
