<body>
<div class="navbar">
  <div class="navbar">
    <div class="navbar-title">
      <h1>Cottages Rental</h1>
    </div>
    <div class="navbar-icons">
      <a href="#">My Reservations</a>
      <%= link_to "Publish an offer", new_cottage_path%>
      <a href="#">Log in / Log out</a>
  </div>
</div>


<div class="card-trip">
  <% @cottages.each do |cottage| %>
    <img src= />
    <div class="card-trip-infos">
      <div>
        <h2><%= cottage.name %></h2>
        <p><%= cottage.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= cottage.price %></h2>
      <img src= class="card-trip-user avatar-bordered" />
    </div>
  <% end %>
</div>

<div class="footer">
    <p>&copy; 2024 Cottages Rental. All rights reserved.</p>
  </div>
</body>
</html>
