<div>Navbar</div>

<div>
  <div>Cottage's name</div>
  <button>booking</button>
</div>

<div class="picture">
  <div>picture of the cottage</div>
</div>

<div>
  <p>description of the cottage</p>
  <div class="cottage-card">
    <a href=""></a>
    <button>booking</button>
  </div>
  <% if @userCottage == @currentUser %>
    <%= link_to "Edit", edit_cottage_path(cottage)  %>
    <%= link_to link_to "Delete", cottage_path(@cottage), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none text-danger" %>
  <% end %>
</div>
