<div class="mt-5" data-controller = "datepicker">
  <%= simple_form_for([@cottage, @booking]) do |f| %>
    <%= f.input :date_range, label: "Select date range:", input_html: {data: {datepicker_target: "datepickerInput"}}, as: :string, class: "input-cottages-nex" %>

    <%= f.submit "Submit", class: "validate-button form-button" %>
  <% end %>
    <div class="recap-reservation">
      <p>Price / nights : <span data-datepicker-target="prixParJour"><%= @cottage.price %> $</span></p><br>
      <p>Reservation for : <span data-datepicker-target="differenceJours">0</span> nights</p><br>
      <p>Total price : <span data-datepicker-target="prixTotal">0 $</span></p><br>
    </div>
  </div>
</div>
