
<div class="container">
  <div class="title">
    <h1 class="text-center mt-4">Dashboard</h1>
  </div>

  <br>
  <br>

  <div class="dashboard-container">

    <div class="bookings">
          <h2 class="title">Your booking : </h2>
              <% @user_bookings.each do |booking| %>
              <div class="card">
                 <ul>
                     <img class="img" src="chalet.jpeg" alt="cottage-img">
                      <h3 class="title-cottage"><%= link_to booking.cottage.name, booking %></h3>
                      <li class="status">status : <%= booking.status %></li>
                  </ul>
              <% end %>
            </div>
        </div>


      <div class="dashboard-requests">
          <h2 class="title">Your current requests : </h2>
      </div>
      </div>
    </div>
</div>
