
<body>
  <div class="title">
    <h2>Welcome to Cottages Rental, find your hapiness accross more than thousand of properties !</h2>
  </div>

  <div class="button-container">
    <div class="validate-button">
      <%= link_to "Book a trip Now !", cottages_path%>
    </div>
  </div>
</body>
</html>
