
<body>
  <div class="navbar">
    <div class="navbar-title">
      <h1>Cottages Rental</h1>
    </div>
    <div class="navbar-icons">
      <a href="#">My Reservations</a>
      <%= link_to "Publish an offer", new_cottage_path%>
      <a href="#">Log in / Log out</a>
    </div>
  </div>
  <div class="title">
    <h2>Welcome to Cottages Rental, find your hapiness accross more than thousand of proprieties !</h2>
  </div>

  <div class="button-container">
    <div class="validate-button">
      <%= link_to "Book a trip Now !", cottages_path%>
    </div>
  </div>

  <div class="footer">
    <p>&copy; 2024 Cottages Rental. All rights reserved.</p>
  </div>
</body>
</html>
