
<body>
  <div class="container-homepage">
    <div id="carouselExampleAutoplaying" class="slide carousel_home" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "chalet1.jpg", class: "home_caroussel"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "chalet2.jpg", class: "home_caroussel"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "chalet3.jpg", class: "home_caroussel"%>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      </button>
    </div>
    <div class="title_home">
      <h2>Find your happiness accross more than thousand of properties !</h2>
    </div>

    <div class="button-container">
      <div class="validate-button">
        <%= link_to "Book a trip Now !", cottages_path%>
      </div>
    </div>
  <div>
</body>
</html>
