@import "../config/colors";
@import "../config/fonts";

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: $current-blue;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  h1 a{
    font-family: $app-title-font;
    font-weight: 700;
    color: $title-yellow;
  }
}

.navbar-icons {
  display: flex;
}

.navbar-icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: text-shadow 0.3s ease;
  text-shadow: 0px 0px 0px transparent;
}

.navbar-icons a:hover {
  font-weight: 700;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
