@import "../config/colors";

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  background: $current-nature;
  color: white;
  padding: 20px;
  border-radius: 5px;
  }
.title_home {
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
  color: #fbfbfb;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  width: 100%;
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
